h1 {
    border-bottom: 2px solid black;
}
body {
    background: lightblue;
    font-family: "Segoe UI", Roboto, sans-serif;
    line-height: 1.6;
    margin: 0;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}
div{
    list-style: none;
    margin: 0;
    padding: 0;
}
div a {
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
div a:hover,
div a.active {
    background-color: skyblue;
    transform: scale(1.3);
}
table {
    width: 100%;
    table-layout: fixed;
}
.link {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}
.link:hover {
    transform: scale(1.2);
}