div#ala{
    padding:2%;
    width:30%;
    height:500px;
    position:absolute;
    right: 50px;
    top:50px;
}

 p {
      font-size: 26px;               /* Размер шрифта */
      line-height: 1.6;              /* Межстрочный интервал */
      color: #333;                   /* Цвет текста */
    }